@import url("https://fonts.cdnfonts.com/css/proxima-nova");

@import url("https://fonts.cdnfonts.com/css/ruthie");

:root {
  --primary-color: #030712;
  --secondary-color: #121213;
  --tertiary-color: #00030e;
  --quatenary-color: #88f0e5;
  --last-color: #15d3a2;
  --text-color: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}

button,
input {
  outline: none;
  border: none;
}

/* #animated-text {
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}




.reveal {
  position: relative;
  opacity: 0;

}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

.active .fade-top {
  animation: fade-top 3s ease-in-out
}

@keyframes fade-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */
