.projects-wrapper {
  background-color: var(--primary-color);
  width: 100%;
  height: fit-content;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.project__text {
  color: var(--text-color);
}

.project-image-wrapper {
  border-right: 1px solid var(--gray-dark-100, #1f2937);
  background: var(--secondary-color);
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  flex: 2;
  align-self: stretch;
}

.image-wrapper {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  flex: 2;
  background-color: #1f2937;

  border-right: 0px solid var(--gray-dark-100, #1f2937);

  background: lightgray 50% / cover no-repeat;

  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04),
    0px 4px 3px 0px rgba(0, 0, 0, 0.1);
}

.main-skill-wrapper img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.main-skill-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.project-description {
  display: flex;
  padding: 1rem;
  height: 200px;
  flex-direction: column;
  align-items: center;
  flex: 1;

  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  background-color: #1f2937;
  align-self: stretch;
}
.project-description h4 {
  font-size: 20px;
  font-weight: bolder;
}
.swap-wrapper {
  width: 100%;
  max-width: 900px;
}

.image-wrapper p {
  font-size: 18px;
  font-family: var(--font);
}

@media screen and (max-width: 805px) {
  #major-wrapping {
    flex-direction: column;
  }

  .project-image-wrapper {
    padding: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .image-wrapper {
    width: 90%;
  }
  .project-description {
    width: 90%;
  }

  .projects-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
