* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  position: fixed;
  padding-top: 1.25rem;
  margin-top: -16px;
  align-items: center;
  background-color: var(--primary-color);
  height: 60px;
  gap: 6px;
  padding-bottom: 0.5rem;
  width: 100%;
  transition: 0.4s eases;
}

.nav-scroll {
  position: fixed;
  width: 100%;
  /* background: linear-gradient(
    0deg,
    rgb(44, 49, 67) 0%,
    rgba(4, 26, 111, 0.6) 100%
  ); */
  top: -20px;
  z-index: 100;
  transform: translateY(20%);
  padding: 5px 80px 20px 76.34px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  justify-content: baseline;
  align-items: baseline;
}

.nav-container-wrapper {
  display: flex;
  flex-direction: column;

  margin-left: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
  padding: 0;
}

.nav-links ul {
  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
}

.nav-links li,
a {
  margin-right: 1rem;
  list-style: none;
  color: #fff;
  font-family: Proxima Nova;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  line-height: 110.5%;
}

.nav-container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar-menu {
  display: none;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: end;

  position: absolute;
  top: -20px;
  right: 10px;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.menu_container {
  display: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background-color: var(--primary-color);
  padding: 2rem;
  position: absolute;
  top: -10px;
  right: 0px;

  margin-top: 0rem;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.menu-container .menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: end;
  gap: 10px;
  background: linear-gradient(
    0deg,
    rgb(44, 49, 67) 0%,
    rgba(4, 26, 111, 0.6) 100%
  );

  padding: 2rem;
  position: absolute;
  top: 80px;
  left: -80px;

  margin-top: 0rem;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.download {
  color: #111827;

  border-radius: 0.75rem;
  background: white;
  padding: 0.375rem 1rem;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.menu-container .menu-wrapper .nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-menu .menu-container ul {
  display: block;
  color: black;
}

.navbar-menu {
  align-items: center;
  justify-content: center;
  display: none;
  margin-right: 2rem;
}

@media screen and (max-width: 650px) {
  .navbar-menu .menu-container {
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 100%;

    justify-content: center;
    align-items: flex-start;
  }

  .nav-links ul {
    display: none;
  }

  .navbar-menu {
    display: block;
  }

  .nav-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .nav-links ul {
    gap: 10px;
  }

  .nav-links li:last-child {
    margin-right: 1rem;
  }

  .nav-links a {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.nav-container {
  position: fixed;
  top: 0;
}
